:root
  --header: #FFD600
  --white-color: #FFF6C9
  --my-primary-color: #2A588B
  --secondary-color: #FF3C1F
  --default-color: #000000
  --medium-screen: 900px

[data-theme="blue"]
  // --bg-color1: #121416
  // --font-color: #f4f4f4
  background-image: url('./img/background_blue.png')

[data-theme="pink"]
  --bg-color1: #f8e9dc
  --font-color: #121416
  background-image: url('./img/background_pink.png')

body
  background-color: var(--bg-color1)
  color: var(--font-color)
  font-family: 'Microsoft Sans Serif'
  background-repeat: no-repeat
  background-position-x: right
  background-size: 55% 100%
  background-attachment: fixed
  padding-bottom: 5rem

#app
  margin: 0 auto
  font-weight: normal
  min-height: 100vh

.container
  max-width: 1440px
  margin: auto
  @media (max-width: var(--medium-screen))
    padding: 0 6.4px

a
  text-decoration: none

img
  width: 100%

input[type="text"]
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 15px

.d-flex
  display: flex
  @media (max-width: 900px)
    flex-wrap: wrap

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

.flex-wrap
  flex-wrap: wrap

.flex-1
  flex: 1

.flex-2
  flex: 2

.flex-3
  flex: 3

.align-center
  align-items: center

.space-between
  justify-content: space-between

.space-center
  justify-content: center

.mt-auto
  margin-top: auto


.p-button.primary
  background: var(--my-primary-color)!important
  border-color: var(--my-primary-color)!important
  &:hover
    background: var(--my-primary-color)!important
    border-color: var(--my-primary-color)!important
  & .p-button-label
    font-weight: 400

.p-button.secondary
  background: var(--secondary-color)!important
  border-color: var(--secondary-color)!important
  &:hover
    background: var(--secondary-color)!important
    border-color: var(--secondary-color)!important
  & .p-button-label
    font-weight: 400

.fc-button-primary
  background: var(--my-primary-color)!important
  border-color: var(--my-primary-color)!important

.pulse:hover,
.pulse:focus
  animation: pulse .7s
  box-shadow: 0 0 0 .5em transparent



@keyframes pulse
  0%
    box-shadow: 0 0 0 0 var(--my-primary-color)


